* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
}
#navbar {
  display: flex;
  flex-direction: column;
}
a {
  font-size: 2rem;
  font-family: 'Bodoni Moda', serif;
  color: black;
  text-decoration: none;
}
h1 {
  font-size: 2.4rem;
  font-family: 'Bodoni Moda', serif;
}
p {
  font-size: 1.6rem;
  font-family: 'Indie Flower', cursive;
}
li {
  margin-left: 50px;
  font-size: 1.6rem;
  font-family: 'Indie Flower', cursive;
}
code {
  font-size: 1.6rem;
  margin-left: 50px;
  background-color: aliceblue;
}
/*
font-family: 'Bodoni Moda', serif;
font-family: 'Indie Flower', cursive;
*/
