* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
h1 {
  font-size: 2.4rem;
  font-family: 'Bodoni Moda', serif;
}
/*
font-family: 'Bodoni Moda', serif;
font-family: 'Indie Flower', cursive;
*/
